<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Slim-Pickins</title>
    <link rel="stylesheet" href="../../public/stylesheets/style.css">
</head>
<body>
    <div id="bottom">
      <div id="main">
        <div class="wrapper">
        <header>
        <h1>
          <a href="/">Slim Pickins</a>
        </h1>
          <nav>
            {{#if loggedIn}}
           <a href="/homepage">Homepage</a>
            <div class="dropdown">
             <button onclick="myFunction()" class="dropbtn">My Recipes</button>
              <div id="myDropdown" class="dropdown-content">
              </div>
            </div>
           <button id="logout" class="btn-no-style">logout</button>
            {{else}}
            <a href="/login">login</a>
          {{/if}}
          </nav>
        </header>
        <main>
        {{{ body }}}
        </main>
      </div>
  
    </div>
      <footer id="footer" style="position:center;">
          <h4 id="footer-text"> Slim Pickins Brought To You By </h4> 
          <div class="github"> 
              <ol>
                  <li> <a href="https://github.com/NathanHogan16"> Nate Hogan</a> <i class="fab fa-github-square"></i></li>
                  <li><a href="https://github.com/dsanchezjr99"> Miguel David Sanchez Jr. </a><i class="fab fa-github-square"></i></li>
                  <li><a href="https://github.com/Mwimbe1105"> Mckerry Wimberly II </a><i class="fab fa-github-square"></i></li>
                  <li><a href="https://github.com/linegrind675"> Jonah Callister </a><i class="fab fa-github-square"></i></li>
                </ol>
          </div>
          {{#if loggedIn}}
        <script src="/javascript/logout.js"></script>
          {{/if}}
        </footer>

    </div>
</body>
</html>  